.vs/*
include/*
lib/*
test_opengl/Debug/*
test_opengl/x64/*
test_opengl/glad.c
x64/Debug/*
x64/Release/TextureSamples/*
x64/Release/Save/kaleidoscope.scene
x64/Release/Save/Petanque.scene
x64/Release/Save/square brick bubbles.scene
x64/Release/Save/TestDistortion.scene
x64/Release/Save/testNormal.scene
x64/Release/Save/testSavelightingProps.scene
x64/Release/Save/testSavePalette.scene
x64/Release/Save/testShineMetal.scene
x64/Release/functions/furTest.funk
x64/Release/avcodec-59.dll
x64/Release/avdevice-59.dll
x64/Release/avfilter-8.dll
x64/Release/avformat-59.dll
x64/Release/avutil-57.dll
x64/Release/glfw3.dll
x64/Release/imgui.ini
x64/Release/NoPoly.exe
x64/Release/NoPoly.pdb
x64/Release/postproc-56.dll
x64/Release/swresample-4.dll
x64/Release/swscale-6.dll